#container {
    display: grid;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: black;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

